<ng-container *ngIf="post; else loading">
  <div class="blog-detail">
    <h1>{{ post.title }}</h1>

    <!-- Edit button for the author -->
    <button *ngIf="currentUserId === post.authorId"
            [routerLink]="['/admin/blog/edit', post.id]"
            class="btn btn-secondary mb-3">
      Edit This Post
    </button>

    <div class="detail-image" *ngIf="post.imagePath">
      <img [src]="'https://localhost:44309' + post.imagePath"
           [alt]="post.title" />
    </div>

    <div class="content" [innerHTML]="post.content"></div>

    <p class="meta">
      <em>
        Published: {{ post.created | date:'medium' }}
        <span *ngIf="post.updated">
          (Updated: {{ post.updated | date:'medium' }})
        </span>
      </em>
    </p>
  </div>
</ng-container>

<ng-template #loading>
  <p>Loading post…</p>
</ng-template>
