<!-- src/app/blog/blog-detail/blog-detail.component.html -->
<ng-container *ngIf="post; else loading">
  <div class="blog-detail">
    <!-- move the edit button into its own wrapper -->
    <div *ngIf="currentUserId === post.authorId" class="edit-post">
      <button [routerLink]="['/admin/blog/edit', post.id]"
              class="btn btn-secondary">
        Edit This Post
      </button>
    </div>

    <h1>{{ post.title }}</h1>

    <div class="detail-image" *ngIf="post.imagePath">
      <img [src]="'https://localhost:44309' + post.imagePath"
           [alt]="post.title" />
    </div>

    <div class="content" [innerHTML]="post.content"></div>

    <p class="meta">
      <em>
        Published: {{ post.created | date:'medium' }}
        <span *ngIf="post.updated">
          (Updated: {{ post.updated | date:'medium' }})
        </span>
      </em>
    </p>
  </div>
</ng-container>

<ng-template #loading>
  <p>Loading post…</p>
</ng-template>
